
*.xccheckout

*.xcuserstate

*.xcscheme

*.plist

BepidTrello.xcodeproj/xcuserdata/elisa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

BepidTrello/Application.m

BepidTrello.xcodeproj/project.xcworkspace/xcuserdata/cristian.xcuserdatad/UserInterfaceState.xcuserstate

BepidTrello.xcodeproj/project.xcworkspace/xcuserdata/cristian.xcuserdatad/UserInterfaceState.xcuserstate
